{% extends "layout.html" %}
{% block content %}
<div class="media-body">
    <h2 class="article-title">What is Polyglot Playdate</h1>
    <p class="article-content">
        The best way for children to learn language is to let them play with 
        native speakers.The Polyglot Playdate community is offering a friendly 
        space where you can find a language buddy for your child.  Use our forum 
        to post about the languge that your child is interested in learning or use 
        it to find a posts that match with your preferred learning language, location 
        and kids age. <br>
         Join the community by registering on our webside.</p>
</div>
    
{% endblock content %}